In [3]:
import random
lista = random.sample(range(1,100), 10)
print(lista)

[20, 7, 26, 36, 89, 39, 12, 38, 60, 17]

In [4]:
#¿Cuál es la longitud de la lista?
len(lista)

10

In [5]:
#Extraed el número que está en la tercera posición.
lista[2]

26

In [6]:
#Extraed el número que esta en la tercera posición utilizando los índices negativos.
lista[-8]

26

In [8]:
#¿En qué posición se encuentra el número elegido por el usuario?
print('Elija un número')
numero = int(input(lista))
print(numero)
lista.index(89)

Elija un número
89

4

In [ ]:
#Valores entre la tercera posición y la quinta,ambos incluidos.
lista[3:6] #posición pyhton

[42, 85, 13]

In [ ]:
#Valores entre la tercera posición y la quinta,ambos incluidos.
lista[2:5] #posición humana

[4, 42, 85]

In [15]:
#Valores entre las posiciones 6 y 9 utilizando índices negativos.
lista[-4:-2]

[12, 38]

In [20]:
#¿Cuáles son los numéros que están en las posiciones pares nuestra lista?
lista[1::2]

[7, 36, 39, 38, 17]

In [21]:
#¿Y los que están en posiciones impares?
lista[0::2]

[20, 26, 89, 12, 60]

In [110]:
nombres = ["Laura", "Lorena", "Lupe", "Loreto", "Lucía"]

notas = [9, 8.5, 9.8, 8.9, 9.2]

In [111]:
#¿Qué nota ha sacado Lupe?
nombres.index("Lupe")
print(notas[2])

9.8

In [114]:
#¿Qué alumna ha sacado la nota más alta?
print(max(notas))
notas.index(9.8)
print(nombres[2])

9.8
Lupe

In [122]:
#¿Qué alumna ha sacado la nota más baja?
print(min(notas))
notas.index(8.5)
print(nombres[1])
min(notas) > 5

8.5
Lorena

True

In [123]:
#Ordenad la lista de notas de mayor a menor
notas_nuevo_orden = sorted(notas, reverse=True)
print(notas_nuevo_orden)

[9.8, 9.2, 9, 8.9, 8.5]

In [124]:
#Ordenad la lista de notas de menor a mayor
notas.sort()
print(notas)

[8.5, 8.9, 9, 9.2, 9.8]

In [127]:
#Borrad la lista de notas.
del notas
print(notas)

NameError: name 'notas' is not defined

In [180]:
#Dadas las siguientes listas:
lunes = [34,56,82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]

In [181]:
#Unid las tres listas de forma que tengamos el siguiente output.

semana = lunes
semana.append(martes)
semana.append(miercoles)
print(semana)

[34, 56, 82, [99, 64, 24], [12, 59, 71]]

In [182]:
lunes = [34,56,82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]

In [183]:
#Definid de nuevo la tres listas. Ahora unid las tres listas de tal forma que obtengamos el siguiente output:
semana_nueva = lunes
semana_nueva.extend(martes)
semana_nueva.extend(miercoles)
semana_nueva

[34, 56, 82, 99, 64, 24, 12, 59, 71]

In [185]:
lunes = [34,56,82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]

In [186]:
#Definid de nuevo las tres listas. Insertad los siguientes valores:

#En la lista lunes un 100 en la primera posición 
lunes.insert(0, 100)
print(lunes)

#En la lista martes un 100 en la tercera posición 
martes.insert(2, 100)
print(martes)

#En la lista miercoles un 100 en la última posición
miercoles.insert(3, 100)
print(miercoles)

[100, 34, 56, 82]
[99, 64, 100, 24]
[12, 59, 71, 100]