In [2]:
#Cread tres variables numéricas de tipo integer llamadas de la siguiente forma:
numero1 = 34
numero2 = 86
numero3 = 16

In [3]:
#¿Es el numero1 mayor que el numero2?
numero1 > numero2

False

In [4]:
#¿Es el numero1 menor que el numero2 pero mayor que el numero3?
numero1 < numero2 > numero3

True

In [5]:
#¿Es el numero3 igual que el numero2?
numero3 is numero2

False

In [6]:
#¿Es el numero2 distinto que el numero1?
numero2 is not numero1

True

In [7]:
#Cread dos variables numéricas de tipo float con dos decimales, llamadas de la siguiente forma:
altura1 = 1.78
altura2 = 2.34

In [8]:
#¿Cuál es la suma de las dos alturas?
altura1 + altura2

4.12

In [9]:
#¿Cuál es la diferencia entre las alturas?
altura2 - altura1

0.5599999999999998

In [10]:
#¿Cuál es el resto de la división de las dos alturas?
altura1 % altura2

1.78

In [11]:
#¿Cuál es resultado de la división de las dos alturas? Redondead el resultado a un decimal.
round(altura1/altura2,1)

0.8

In [12]:
#Escribid un programa usando la función input() que le pregunte al usuario su nombre y apellidos.
print('¿Cuál es su nombre?')
nombre = input()
print(nombre)

¿Cuál es su nombre?
Lola Garcia Santana

In [13]:
#Printead su nombre y apellidos todo en mayúsculas
nombre.upper()

'LOLA GARCIA SANTANA'

In [14]:
#Printead su nombre y apellidos todo en minúsculas
nombre.lower()

'lola garcia santana'

In [15]:
#Printead su nombre y apellidos con la primera letra del nombre y los apellidos en mayúscula y el resto en minúscula
nombre.title()

'Lola Garcia Santana'

In [16]:
#Printeas solo la primera letra del nombre en mayúscula.
nombre.capitalize()

'Lola garcia santana'

In [17]:
#Le pregunte al usuario por una frase.
print('Diga una frase')
frase = input()
print(frase)

Diga una frase
Tres tristes tigres comen trigo en un trigal

In [18]:
#Le pregunte al usuario por una vocal.
print('Diga una vocal')
vocal = input()
print(vocal)

Diga una vocal
e

In [19]:
#Printead la misma frase pero con la vocal introducida en mayúsulas.
print(frase.replace(vocal, vocal.upper()))

TrEs tristEs tigrEs comEn trigo En un trigal

In [25]:
#Le pregunte al usuario por la lista de la compra, separando cada elemento por comas.
print('lista de la compra')
compra = input()
print(compra)

lista de la compra
leche,platano,naranja,jamón,queso,champú

In [26]:
#Devolved la lista de compra donde veamos cada elemento en una línea.
print(compra.replace(',', '\n' ))

leche
platano
naranja
jamón
queso
champú