Cread tres variables numéricas de tipo integer llamadas de la siguiente forma:

In [2]:
numero1 = 34
numero2 = 86
numero3 = 16

¿Es el numero1 mayor que el numero2?

In [3]:

numero1 > numero2

False

¿Es el numero1 menor que el numero2 pero mayor que el numero3?

In [4]:
numero1 < numero2 > numero3

True

¿Es el numero3 igual que el numero2?

In [5]:
numero3 is numero2

False

¿Es el numero2 distinto que el numero1?

In [6]:
numero2 is not numero1

True

Cread dos variables numéricas de tipo float con dos decimales, llamadas de la siguiente forma:

In [7]:
altura1 = 1.78
altura2 = 2.34

¿Cuál es la suma de las dos alturas?

In [8]:
altura1 + altura2

4.12

¿Cuál es la diferencia entre las alturas?

In [9]:
altura2 - altura1

0.5599999999999998

¿Cuál es el resto de la división de las dos alturas?

In [10]:
altura1 % altura2

1.78

¿Cuál es resultado de la división de las dos alturas? Redondead el resultado a un decimal.

In [11]:
round(altura1/altura2,1)

0.8

Escribid un programa usando la función input() que le pregunte al usuario su nombre y apellidos.

In [12]:
print('¿Cuál es su nombre?')
nombre = input()
print(nombre)

¿Cuál es su nombre?
Lola Garcia Santana

Printead su nombre y apellidos todo en mayúsculas

In [13]:
nombre.upper()

'LOLA GARCIA SANTANA'

Printead su nombre y apellidos todo en minúsculas

In [14]:
nombre.lower()

'lola garcia santana'

Printead su nombre y apellidos con la primera letra del nombre y los apellidos en mayúscula y el resto en minúscula

In [15]:
nombre.title()

'Lola Garcia Santana'

Printeas solo la primera letra del nombre en mayúscula.

In [16]:
nombre.capitalize()

'Lola garcia santana'

Le pregunte al usuario por una frase.

In [17]:
print('Diga una frase')
frase = input()
print(frase)

Diga una frase
Tres tristes tigres comen trigo en un trigal

Le pregunte al usuario por una vocal.

In [18]:
print('Diga una vocal')
vocal = input()
print(vocal)

Diga una vocal
e

Printead la misma frase pero con la vocal introducida en mayúsulas.

In [19]:
print(frase.replace(vocal, vocal.upper()))

TrEs tristEs tigrEs comEn trigo En un trigal

Le pregunte al usuario por la lista de la compra, separando cada elemento por comas.

In [25]:
print('lista de la compra')
compra = input()
print(compra)

lista de la compra
leche,platano,naranja,jamón,queso,champú

Devolved la lista de compra donde veamos cada elemento en una línea.

In [26]:
print(compra.replace(',', '\n' ))

leche
platano
naranja
jamón
queso
champú